<form [formGroup]="contactFormGroup">
    <div class="card p-fluid">
        <h5>Date de contact</h5>

        <div class="field col-12">
            <span class="p-float-label">
                <input pInputText id="phonenumber" placeholder="Numar de telefon" formControlName="phoneNumber" />
                <label htmlFor="phonenumber">Numar de telefon</label>
            </span>
        </div>

        <div class="field col-12">
            <span class="p-float-label">
                <input pInputText id="email" placeholder="Adresa de mail" formControlName="email" />
                <label htmlFor="email">Adresa de mail</label>
            </span>
        </div>
        <div class="grid grid-nogutter justify-content-end">
            <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
    </div>
</form>
