################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SRL/.vs
/SRL/SRLRequest/ClientApp/.angular/cache/15.2.7
/SRL/SRLRequest/ClientApp/.angular/cache/16.1.4
