<div class="grid">
    <div class="col-12 md:col-6">
        <div class="card">
            <a routerLink="/client/requests/srl/create">
                <h4>Create SRL</h4>
                <p>Societate cu raspundere limitata</p>
            </a>
        </div>
    </div>
    <div class="col-12 md:col-6">
        <div class="card flex flex-column">
            <p-button styleClass="p-button-link p-0" class="flex flex-column" (onClick)="createSRLRegistrationRequest()">
                <div class="flex flex-column align-items-start">
                    <h4>Create SRL</h4>
                    <p>Societate cu raspundere limitata</p>
                </div>
            </p-button>
        </div>
    </div>

</div>
